show
<select (change)="getpagesize($event)">  
  <option value="10">10</option>
  <option value="25">25</option>
  <option value="50">50</option>
</select>
entries
<div class="pull pull-right">
  order by<select (change)="orderby($event.target.value)"   >
      <option value="Task" >Task</option>
      <option value="date">date</option>
      <option value="Quote#">Quote</option>
      <option value="Quote Type">Quote Type</option>
  </select>
  Descending<input type="checkbox">
  search<input type="search">
</div>

<table class="table">
  <thead>
    <tr>

      <th scope="col">Quote Type</th>
      <th scope="col">Quote#</th>
      <th scope="col">Contact</th>
      <th scope="col">Task</th>
      <th scope="col">Due date</th>
      <th scope="col">Task Type</th>
      <th scope="col"> Edit </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let task of showntask ">
      <td>{{task['Quote Type']}}</td>
      <td>{{task['Quote#']}}</td>
      <td>{{task.Contact}}</td>
      <td>{{task.Task}}</td>
      <td>{{task['Due Date']}}</td>
      <td>{{task['Task Type']}}</td>
      
      <td><span class="glyphicon glyphicon-eye-open" data-toggle="modal" 
        data-target="#view" style="cursor:pointer"></span></td>
        <div class="modal fade" id="view" role="dialog">
            <div class="modal-dialog">
            
              <!-- Modal content-->
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <h4 class="modal-title">task details</h4>
                </div>
                    <div class="form-group">
                    <label for="Status">Status</label> 
                    <select>
                      <option value="open">Open</option>
                      <option value="closed">Closed</option>
                    </select>
                    </div>
        
                    <div class="form-group">
                      <label for="quotetype" class="col-sm-2 control-label">Quote Type</label>
                      <div class="col-sm-4">
                        <input type="text" class="form-control" id="quotetype" ngModel name="quotetype" placeholder="Quote Type" required>
                      </div>
                    </div>
        
                    <div class="form-group">
                      <label for="quoteNum" class="col-sm-2 control-label">Quote#</label>
                      <div class="col-sm-4">
                        <input type="number" class="form-control" id="quoteNum" ngModel name="quoteNum" placeholder="Quote Num" 
                        data-ng-change="numbersOnly()" required>
                      </div>
                    </div>
        
                    <div class="form-group">
                        <label for="tasktype" class="col-sm-2 control-label">Task Type</label>
                        <div class="col-sm-4">
                          <input type="text" class="form-control" id="tasktype" ngModel name="tasktype" placeholder="Task Type" required>
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <label for="contactname" class="col-sm-2 control-label">Contact Name</label>
                        <div class="col-sm-4">
                          <input type="text" class="form-control" id="contactname" ngModel name="contactname" placeholder="Contact Name" required>
                        </div>
                    </div>
                    
                      <div class="form-group">
                        <label for="quote" class="col-sm-2 control-label">Quote</label>
                        <div class="col-sm-4">
                          <input type="text" class="form-control" id="quote" ngModel name="quote" placeholder="Quote">
                        </div>
                      </div>
                    
                      <div class="form-group">
                        <label for="duedate" class="col-sm-2 control-label">Due Date</label>
                    
                        <div class="col-md-4">
                          <input type="text" placeholder="Due Date" class="form-control" ngModel name="duedate" bsDatepicker 
                          data-ng-change="dateOnly()" required>
                        </div>
                        <div class="col-sm-4 time">
                          <!-- <datepicker></datepicker> -->
                        </div>
                    
                      </div>
                    
                      <div class="form-group">
                        <label for="taskdescription" class="col-sm-2 control-label">Task Description</label>
                        <div class="col-sm-9">
                          <textarea rows="5" type="text" class="form-control" id="taskdescription"
                            placeholder="Task Description" ngModel name="taskdescription" required></textarea>
                        </div>
                      </div>
                      
                      <button type="submit" class="btn btn-success">Submit</button>
              </div>
              
            </div>
          </div>
      <td><span class="glyphicon glyphicon-edit" data-toggle="modal" 
        data-target="editTask" style="cursor:pointer"></span></td>
      <td><span class="glyphicon glyphicon-comment"></span></td>
    </tr>
  </tbody>
</table>

