<!--The content below is only a placeholder and can be replaced.-->

<!-- -------------------------------HEADER---------------------------- -->
  
  <ol class="breadcrumb">
    <li style="color: blue; font-weight: bold;">Task Details</li>
    <app-entry></app-entry>
      <div class="modal fade" id="addtask" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                ...
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
              </div>
            </div>
          </div>
        </div>
  </ol>

show<select>
    <option value="10">10</option>
    <option value="25">25</option>
    <option value="50">50</option>
</select>
entries
<div class="pull pull-right">
    order by<select>
        <option value="Task">Task</option>
        <option value="date">date</option>
        <option value="Quote#">Quote</option>
        <option value="Quote Type">Quote Type</option>
    </select>
    Descending<input type="checkbox">
    search<input type="search">
</div>

<router-outlet></router-outlet>


<!-- -------------------------------TABLE---------------------------- -->

<table class="table">
    <thead>
      <tr>

        <th scope="col">Quote Type</th>
        <th scope="col">Quote#</th>
        <th scope="col">Contact</th>
        <th scope="col">Task</th>
        <th scope="col">Due date</th>
        <th scope="col">Task Type</th>
        <th scope="col"> Edit </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let task of taskObj;">
        
        <th scope="row">1</th>
        <td>data[i].['Quote Type']</td>
        <td>Otto</td>
        <td>@mdo</td>
      </tr>
    </tbody>
  </table>
